on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Appium Flutter Integration Driver
jobs:
  Build_Server:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api-level: [29]
        target: [google_apis]
    steps:
      - name: Check out my other private repo
        uses: actions/checkout@master
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2.0.10
      
      - name: 'List files'
        run: | 
         release_info=$(curl -s https://api.github.com/repos/AppiumTestDistribution/appium-flutter-server/releases/latest)
         asset_url=$(echo "$release_info" | grep "browser_download_url" | head -n 1 | cut -d '"' -f 4)
         echo $asset_url
      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: 20
      # - name: Enable KVM group perms
      #   run: |
      #     echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
      #     sudo udevadm control --reload-rules
      #     sudo udevadm trigger --name-match=kvm
      # - name: run tests
      #   uses: reactivecircus/android-emulator-runner@v2
      #   with:
      #     api-level: ${{ matrix.api-level }}
      #     target: ${{ matrix.target }}
      #     arch: x86_64
      #     profile: Nexus 6
      #     script: |
      #       adb devices
      #       node --version
      #       npm install -g wait-on
      #       npm install -g appium
      #       appium driver install uiautomator2
      #       npm install
      #       npm run build
      #       appium driver list
      #       mkdir ${{ github.workspace }}/appium-logs
      #       adb logcat > ${{ github.workspace }}/appium-logs/flutter.txt &
      #       APP_PATH=$asset_url npm run wdio-android
      # #        appium server -pa=/wd/hub & wait-on http://127.0.0.1:4723/wd/hub/status &&
      # - name: upload appium logs
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: appium-logs
      #     path: ${{ github.workspace }}/appium-logs
